div{
    border:1px solid black;
}

.container{
    display: flex;
    flex-direction: row-reverse;
}
.item{
    width:30%;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 24pt;
}
.item2{
    flex-grow: 3;
}